name: Android Release Build

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant permission
        run: chmod +x gradlew

      - name: Build Release APK
        run: ./gradlew :приложение:assembleRelease

      - name: Upload Release APK
        uses: actions/upload-artifact@v4
        with:
          name: HZ-Messenger-Release
          path: приложение/build/outputs/apk/release/*.apk
